
$blue: #37A0F6;
$deepGray:#7B8FA5;
$lightGray: #DEE5ED;
$gray: #A5BAD0;
$black: #364658;;
$pink: #E7077A;
$white: #ffffff;


$t-blue: linear-gradient(268.16deg, #37A0F6 -3.37%, #387EE9 99.26%);
$g-done: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
$g-worning: linear-gradient(90deg, #FB872B 0%, #D9E021 100%);
$g-danger: linear-gradient(90deg, #D4145A 0%, #FBB03B 100%);

@mixin shadow{
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

// @include shadow;

body {
    font-family: 'Rubik', sans-serif;
    h1, h2, h4, h5, h6, p{
        font-family: 'Rubik', sans-serif;
        color: $deepGray;
    }
    img{
        max-width: 100%;
    }
    p{
        color: #90a1b5;
    }
    background: #eef2f6;
    overflow-x: hidden;
}


a:hover{
    text-decoration: none;
}


.gray{
    color: $gray;
}


.form-control{
    border-radius: 0;
    border-color: #e4e4e4;
    &:focus{
        box-shadow: none;
        border-color: $blue;
    }
}

.box{
    background: $white;
    @include shadow;
    padding: 15px;
    border-radius: 5px;
    margin-bottom:15px;
}

.btn-info{
    background: linear-gradient(265.86deg, #37A0F6 -3.37%, #387EE9 99.26%);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    color: #eaf2f9;
    font-size: 13px;
    font-weight: 500;
    border-color:#37A0F6;
    padding-right: 25px;
    padding-left: 25px;
    &:hover{
        background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
        border-color:#37A0F6
    }
    &:focus{
        border-color:#37A0F6
    }
}

.input-group-text {
    color: #bfc7ce;
    background-color: #ffffff;
    border: 1px solid #e4e4e4;
    border-radius: 0;
}

form label {
    font-size: 14px;
    color: #41596c;
    font-weight:600;
    text-transform: capitalize;
}

.titleArea{
    margin-top: 30px;
    margin-bottom: 25px;
    p{
        font-size:12px;
        color: #90a1b5;
    }
    &.text-light{
        .title{
            font-weight: 300;
            color: $black !important;
        }
    }
}

.title{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $black;
}

.overview{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: $gray;
    &:hover{
        color: $black;
    }
}

.subTitle{
    font-size: 26px;
    font-weight: 300;
    margin-bottom: 26px;
}

.productDetailstitle{
    font-size: 22px;
    font-weight: 900;
    color: #264258;
    margin-bottom: 20px;
}

// breadcome
.breadcrumb{
    background: none;
    padding-left: 0;
    padding-right: 0;
    i{
        color: #bfc7ce;
        font-size: 12px;
    }
   li{
       font-size: 13px;
   }
   a{
       display: inline-block;
       padding-right: 10px;
       font-weight: 500;
   }
}
.breadcrumb-item+.breadcrumb-item::before {
    display: none;
}

.pagination{
    margin: 25px 0;
    .page-link {
        position: relative;
        display: block;
        padding: .2rem .4rem;
        margin-left: -1px;
        line-height: normal;
        color: #007bff;
        background-color: #fff;
        border: 1px solid white;
        font-size: 12px;
        margin: 0 8px;
    }
}

.card{
    border-radius: 0 !important;
    border:1px solid #e5e9eb;
    margin-bottom: 35px;
    .card-header,
    .card-footer{
        padding: .4rem 1.25rem;
        background-color: #efefef;
        border-color: #e5e9eb;
        font-size: 18px;
        font-weight: 400;
        border-radius: 0 !important;
        color: $black !important;
    }

    .card-body{
        h4{
            color: $black;
            font-size: 16px;
            font-weight:400;
        }
        p{
            font-size: 13px;
            color: $black;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                font-size: 13px;
                color: #7f909d;
                margin: 8px 0;
                position: relative;
                // background: url(../images/arrow.png) no-repeat left center;
                background-size: 7px 12px;
                padding-left: 14px;
            }
        }

        label {
            font-size: 14px;
            color: #41596c;
            font-weight:500;
        }
    }

}

// End common css

.form-control.code{
    width: 80px;
}

header{
    border-bottom:1px solid $blue;
    height: 70px;
    form{
        background: $white;
        border: 0;
        input.form-control{
            height: 70px;
            position: relative;
            border: 0;
            &:focus{
                outline: none;
                border: 0;
            }
            &:after{
                content: "\f017";
                position: absolute;
                font-family: FontAwesome;
                text-align: left;
                font-size: 16px;
                color: #000;
                top: 10px;
                right: 30px;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
                font-weight: bold;
                background: red;
                height: 50px;
                width: 50px;
                z-index: 100000;
            }
        }
        .input-group-prepend{
            background: $white;
            padding: 0 20px;
            height: 70px;
            align-items: center;
            line-height: 70px;
            &.search_icon{
                border: 0;
            }
            .dropdown-toggle-split{
                padding: 0;
            }
            .dropdown-menu {
                min-width: auto;
            }
            .dropdown-item {
                padding: 0;
                font-size: 12px;
                min-width: auto;
                line-height: normal;
                padding: 5px;
            }
        }
    }
}

.sidebar{
    position: fixed;
    top: 0;
    height: 100%;
    bottom: 0;
    width: 100px;
    left: 0;
    z-index: 1030;
    background-color: $white;
    @include shadow;
    .logo{
        display: block;
        text-align: center;
        height: 70px;
        line-height: 70px;
        border-bottom: 1px solid #dee5ed;
    }
    ul{
        padding: 0;
        margin: 0;
        li{
            list-style: none;
            a{
                text-align: center;
                font-size: 12px;
                background: white;
                display: block;
                padding: 20px 0;
                span{
                    margin-top:5px;
                    display: block;
                    color: #b5c0cc;
                }
                i{
                    color: #b5c0cc;
                    font-size: 22px;
                    &:hover{
                        fill: #DA4567 !important;
                    }
                }
                border-left: 4px solid transparent;
                &:hover, &.active{
                    i{
                        color: $blue;
                    }
                    background: #ebf2fc;
                    border-left: 4px solid $blue;
                    text-decoration: none;
                    span{
                        color: #697787;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.main-panel {
    position: relative;
    float: right;
    width: calc(100% - 100px);
    height: 100%;
    max-height: 100%;
    min-height: 500px;
    .content-panel-row{
        margin: 0;
    }
}


.todays_task_wrap{
    width: 360px;
    background: #e4e9f0;
    padding: 0 30px;
    height: 100vh;
}


.input-group-prepend{
    display: inline-block;
    & > span{
        padding: 0 5px;
        cursor: pointer;
        color: $gray;
    }

    .dropdown-item {
        padding: .25rem 0.8rem;
        font-size: 12px;
        min-width: 6.5rem;
    }

    .dropdown-menu{
        min-width: 6.5rem;
    }
}

.taskbox{
    background: $white;
    padding: 15px;
    margin: 15px 0;
    @include shadow;
    border-radius: 4px;
    position: relative;
    .done{
        display: flex;
        align-items: center;
        background: #ffffffb5;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        text-align: center;
        left: 0;
        z-index: 1000;
        .text{
            font-size: 35px;
            font-weight: bolder;
            background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            width: 100%;
        }
        &:after{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 3;
            background: url(../images/Confetti.png) no-repeat left;
            background-size: contain;
        }
        &:before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 3;
            background: url(../images/Confetti.png) no-repeat right top;
            background-size: contain;
        }
    }

    .header {
        h4{
            font-weight: 500;
            font-size: 13px;
            color: $black;
            margin-bottom: 0;
        }
        p{
            font-size: 12px;
            color: $deepGray;
            margin-bottom: 0;
        }
        .status{
            display: inline-block;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: $g-done;
            margin: 0 3px;
        }
    }

    .content{
        font-size: 12px;
        color: $deepGray;
        word-wrap: normal;
        margin-top: 30px;
    }

}

.activeRoute .taskbox, .taskbox:hover {
    border-right: 4px solid #007bff;
    cursor: pointer;
  }

// test history progress box 

.test-history-progress{
    background: $white;
    padding: 5px 20px;
    margin: 15px 0;
    @include shadow;
    border-radius: 4px;
    position: relative;
    .header {
        padding-top: 10px;
        .title{
            font-weight: 500;
            font-size: 14px;
            color: $black;
            margin-bottom: 0;
        }
    }

    p{
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
        color: $deepGray;
    }

    .content{
        margin-top: 25px;
        margin-bottom:20px;
        .progress_wrap{
            background: $lightGray;
            height: 4px;
            position: relative;
            .progress-active{
                background: $blue;
                height: 4px;
                top: 0;
                position: absolute;
            }
            .mark_row{
                display: flex;
                justify-content: space-between;
                position: relative;
                z-index: 10;
                .mark{
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background: $lightGray;
                    margin-top: -3px;
                    &.active{
                        background-size: cover;
                        background: url(../images/check.svg) no-repeat center center;
                    }
                }
            }
        }
    }
    .footer{
        padding: 5px 0;
        font-size: 12px;
        color: $deepGray;
        strong{
            color: $black;
        }
    }

}

.segmen_tab_area{
    .list-group{
        margin: 0 -30px;
        padding: 0 30px;
        border-bottom: 1px solid $lightGray;
        .list-group-item{
            border: 0;
            background: none;
            color: $gray;
            text-decoration: none;
            position: relative;
            padding: 12px 0;
            margin: 0 15px;
            font-weight: 400;
            font-size: 14px;
            &.active{
                color: black;
                font-weight: 500;
                margin: 0 15px;
                &:after{
                    content: "";
                    left: 15px;
                    right: 15px;
                    height: 5px;
                    background: linear-gradient(63.26deg, #37A0F6 15%, #387EE9 88.17%);
                    z-index: 10;
                    position: absolute;
                    bottom: 0;
                    border-radius: 15px;
                }
            }

        }
    }
    .tab-content{
        .innerTabPanel{
            padding: 15px 0;
            .btn-gray{
                background: $lightGray;
                color: $blue;
                font-size:12px;
                font-weight: 500;
                padding: 10px 0;
                &:hover{
                    background: $blue;
                    color: $white;
                }
            }
        }
    }

    .table_list_title{
        font-size: 12px;
        color: $deepGray;
        font-weight: 500;
        margin-bottom:10px;
    }

}


.seg_list{
    background: $white;
    margin: 10px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 4px 50px rgb(209, 223, 236);
    -moz-box-shadow: 0px 4px 50px rgb(209, 223, 236);
    -o-box-shadow: 0px 4px 50px rgb(209, 223, 236);
    box-shadow: 0px 4px 50px rgb(209, 223, 236);
    .seg_list_header{
        padding: 10px 15px;
        .seg_title{
            font-size: 12px;
            color: $black;
            font-weight: 500;
            cursor: pointer;
            small{
                display: inline-block;
                margin-right: 5px;
                i{
                    display: inline-block;
                    margin-right: 10px;
                }
                img{
                    margin-top: -3px;
                }
            }

            &:hover{
                text-decoration: underline;
            }
        }
        .right_side{
            .btn-outline-info{
                font-size: 12px;
                padding: 5px 25px;
                border-color: $gray;
                &:hover{
                    background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
                    border-color:#37A0F6
                }
                &:focus{
                    border-color:#37A0F6
                }
            }
        }
    }
    .seg_list_body{
        border-top:1px solid $lightGray;
        margin: 0 30px;
        padding: 25px 0;
    }

}

.seg_table{
    thead{
        font-size: 11px;
        font-weight: 500;
        color: $gray;
        th{
            border: 0;
        }
    }
    tbody{
        tr{
            background: #eef2f6;
            margin-bottom: 10px;
            border-bottom: 10px solid $white;
            border-radius: 5px;
            color: $deepGray;
            font-size: 12px;
            font-weight: 500;
            td{
                vertical-align: middle;
                border: 0;
                img{
                    margin-right: 5px;
                    margin-bottom: 3px;
                }
                &:first-child{
                    max-width: 25em;
                }
                vertical-align: middle;
                &:last-child{
                    text-align: right;
                }
            }
        }
    }
}


.custom-button > input[type='radio'] {
    position: fixed;
    width: 0;
    opacity: 0;
  }
  
  .custom-button >label {
    display: block;
    padding: 7px 15px;
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    color: #364658;
    font-size: 11px;
    line-height: 12px;
    margin: 5px;
    transition: all linear 0.09s;
    border: 4px solid transparent;

  }
  
  .custom-button input:checked + label {
    border: 4px solid #387FE9;
  }
  
  
.question-container {
    position: relative;

    p{
        font-size: 12px;
        color: $black;
    }
}
    
.question-container.not-active::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #f6fcff;
    z-index: 100;
    cursor: no-drop;
    border-radius: 5px;
    opacity: 20%;
}

.question-container.not-active {

}
  
  
  
  
  .rcs-custom-scrollbar .rcs-inner-handle {
    background-color: #697787;
    color: #000;
  }
  

  
/* video player */
.player-container {
    a{
        display: block;
        font-size: 15px;
        margin-bottom: 0;
        &:hover{
            text-decoration: underline;
            color: $black;
        }
    }
    
    p{
        color: $black;
        font-size: 11px;
        font-weight: 500;
        margin-bottom: 0;
    }

    h3 {
        background: linear-gradient(to right, #D4145A  0%, #FBB03B 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.5em;
        font-weight: 600;
        margin-top: 15px;
        span{
            font-size: 11px;
            color: $black;
            background: none;
            -webkit-background-clip: unset;
            -webkit-text-fill-color:$black;
        }
      }
}
  
  
  .fail {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background: rgba(255, 121, 112, 0.74);
    display: flex;
  }
  
  .fail > span.text {
    font-weight: 900;
    font-size: 2em;
    color: #782e29;
    margin: auto;
    display: block;
  }
  
  .test-history-progress {
    background: #ffffff;
    padding: 5px 20px;
    margin: 15px 0;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: relative;
  }
// Add new style for this project 

// Custom desing style 
.taskListContainer{
    // height: 100vh;
    // background: red;
}

.overViweWrap{
    min-height: 100vh;
    position: relative;
    box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.08);
    padding-top: 20px;
    .rcs-custom-scroll .rcs-inner-container{
        padding-right: 25px;
    }
}

.overview_footer_paddiing{
    padding-bottom: 170px;
    height:100vh;
    .over_viwe_footer{
        background: #eef2f6;
        min-height: 100px;
        position: absolute;
        bottom: 0;
        left: -10px;
        padding: 15px 25px;
        right: 0;
        z-index: 1000;
        box-shadow: 18px 0px 30px 10px rgba(0, 0, 0, 0.08);
     
        .progress_area {
             text-align: center;
             svg{
                 height: 65px;
             }
         }
     }
}

.quote{
    text-align: center;
    min-height: 95px;
    align-items: center;
    display: flex;
    justify-content: center;
    h3{
        font-size: 20px;
        background: linear-gradient(253.96deg, #4F00BC -3.37%, #29ABE2 99.26%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 0;
    }
}


// right sidebar 
.rightSidebar{
    padding:30px 10px;
    .weeklyReport{
        padding: 25px;
        i{
            color: #c7cdd4;
            font-size: 27px;
        }
        h6{
            font-size: 12px;
            color:$gray;
            font-weight: normal;
            margin: 5px 0;
        }

        h4{
            font-size: 22px;
            background: $g-worning;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 800;
            margin-bottom: 0;
            margin-top:10px;
            &.first{
            background: $g-done;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;  
            }
            &.last{
                background: $g-danger;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }

    }
    
    .reward-wrap{
    
        margin-top: 25px;
        .reward{
            background: #f6fcff;
            .media{
                align-items: center;
                i{
                    font-size: 20px;
                    color: $lightGray;
                }
                .media-body{
                    padding-left: 10px;
                    h4{
                        margin: 0;
                        font-size: 12px;
                        color: $lightGray;
                        .status{
                            padding-left: 10px;
                             background: $g-danger;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
            &.active{
                background: white;
                i{
                   color: $gray;
                }
                .media-body{
                    h4{
                        color: $gray;
                    }
                }
            }
        }
    }
}

.physics{
    padding-top: 25px;
     .rcs-inner-container{
        padding-right: 45px;
        margin-right: -40px !important;
     }
}

// Home screen desing 

.home{
    padding-right: 25px;
}
.summary{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    h5{
        font-size: 50px;
        background: $g-done;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &.first{
            background: $t-blue;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &.last{
            background: linear-gradient(10deg, #D4145A 0%, #FBB03B 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    p{
        font-size: 12px;
        margin-bottom:0;
        color: $black;
    }
}

.circleProgressBar{
    text-align: center;
    svg{
        height: 115px;
    }
}

.calender{
    background: $white;
    @include shadow;
    .react-calendar{
        border:0;
        width: 100%;
        .react-calendar__tile {
            abbr{
                border-radius: 50%;
                width:30px;
                line-height: 30px;
                text-align: center;
                font-size: 12px;
                height:30px;
                display: inline-block;
            }

            &:hover{
                background: white;
                abbr{
                    background: $blue;
                    color: white;
                }
            }
        }
        .react-calendar__tile--now,
        .react-calendar__tile--active{
            background: white;
            abbr{
                background: $blue;
                color: white;
                &:hover{
                    background: rgb(15, 139, 240);
                }
            }
            &:hover, &:focus{
                background: white;
            }
        }
        .react-calendar__month-view__weekdays__weekday{
            color: $black;
        }

        .react-calendar__month-view__days__day--neighboringMonth {
            color: #DEE5ED;
            &:hover{
                background: white !important;
            }
        }
        .react-calendar__year-view__months abbr{
            width: auto;
            height: auto;
            border-radius: 5px;
            padding: 0 10px;
        }
    }
}

.login-area{
    // background: $t-blue;
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(151,187,241,1) 0%, rgba(151,202,247,1) 100%);
    .access_inner_wrap{
        width: 420px;
        .logo {
            text-align: center;
            margin-top: -50px;
            background: #fdfdfd;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            line-height: 80px;
            margin-left: auto;
            margin-right: auto;
            margin-top: -90px;
        }
        h1{
            text-align: center;
            font-size: 36px;
            color: white;
            font-weight: 400;
        }

        form{
            margin-top: 60px;
            padding: 50px 50px 30px 50px;
            background: #FDFDFD;
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
            border-radius: 13px;
            .form-control{
                font-size: 10px;
                color: black;
            }
        }
    }
}

.profile-area{
    .profile-header{
        padding-top: 50px;
        background: linear-gradient(-0deg, #37a0f6 -100%, #ffffffd6 50%);
        border-bottom: 3px solid #37a0f6;
        padding-bottom: 30px;
        .profile_image{
            width: 220px;
            height: 170px;
            /* border: 3px solid #37a0f6; */
            box-shadow: 0px 11px 0px rgb(55, 160, 246);
            border-radius: 5px;
            margin-right: 25px;
            border-radius: 50%;
            overflow: hidden;
        
            img{
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
        .media-body{
            h1{
                font-size: 20px;
                color: $black;
                margin-top:60px;
            }
            p{
              font-size: 14px;
              color: $black;
              margin: 0;
            }
        }

        .rogress_area{
            width: 200px;
        }
    }
    .profile-content{
        .overViweWrap{
            padding-top: 35px;
        }
        .information{
            .box{
                border-left: 2px solid #FF9800;
                .header{
                    margin-bottom: 15px;
                    h3{
                        font-size: 17px;
                    }
                }
                .box{
                    border-left:5px solid $blue;
                    .content{
                        h4{
                            font-size: 14px;
                            color: $black;
                        }
                        h5{
                            background: linear-gradient(90deg, #FB872B 0%, #D9E021 100%);
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                            font-size: 12px;
                        }
                        p{
                            font-size: 12px;
                            color: $deepGray;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .interest{
            border-radius: 5px;
            @include shadow;
            overflow: hidden;
            background: white;
            top: 25px;
            margin-top: 20px;
            h4{
                font-style: normal;
                font-weight: bold;
                font-size: 25px;
                line-height: 15px;
                margin-bottom: 0;
                color: white;
                background: $t-blue;
                padding: 20px 10px 0;
                text-transform: uppercase;
            }
            .text-wrap{
                padding: 15px;
                min-height: 350px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                p{
                    font-size: 15px;
                    color: $deepGray;
                    text-align: center;
                }
                ul{
                    padding: 0;
                    margin: 0;
                    display: flex;
                    justify-content: space-between;
                    display: flex;
                    justify-content: space-between;
                    margin: 0;
                    padding: 10px 15px;
                    background: #ebf2fc;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    li{
                        list-style: none;
                        display: inline-block;
                    }
                }
            }
        }
    }
}


.counter.warning {
    background: linear-gradient(90deg, #FB872B 0%, #D9E021 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .full-screen-confetti {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 103;
    color: #000;
    background: rgba(255,255,255, 0.9);
    /* opacity: 20%; */
  }
  
  .full-screen-confetti .message {
    background: #fff;
    width: 60%;
    height: 20%;
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 1px 3px 10px 3px rgba(0,0,0, 0.05);
    flex-flow: row;
    flex-direction: column;
    position: absolute;
  }
  
  .full-screen-confetti .message .highlight {
    color: #007bff;
  }
  
  .guesses .custom-button.wrong > label {
    border-color: red;
  }
  
  .guesses .custom-button.correct > label {
    border-color: rgb(4, 100, 12);
  }
  
  .btn-info.other {
    background: linear-gradient(-90deg, #FFFF7E 0%,#00A8C5 100%);
  }

  
/**
Suplimentary
Math Question
**/
.question-container .math-question {
    background: #FFFFFF;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    align-self: center;
    padding: 25px 20px;
    font-family: Rubik;
    font-weight: 500;
    font-size: 18px;
    color: #364658;
    margin-bottom: 1em;
    min-width: 160px;
    text-align: center;
}
  
.assignment {
    align-self: center;
    margin: 0 3rem;
}
  
.guesses .custom-button > label {
    margin: 0px 10px;
    background: #FFFFFF;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    border: 1px solid #fff;
    padding: 25px 15px;
    align-self: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #364658;
    min-width: 65px;
  }
  
  
  .math-question span {
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    line-height: 18px;
  }
  
  .guesses .custom-button > label span {
    font-weight: 900;
  }
  
  .step-down {
    margin-top: 5rem;
  }
  
  .counter {
    display: block;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    background: linear-gradient(90deg, #37A0F6, #387EE9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .counter.warning {
    background: linear-gradient(90deg, #FB872B 0%, #D9E021 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }


.video-task {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-flow: column;
    padding: 1em;
    background: #fff;
    border-radius: 3px;

    .video-player {
        position: relative;
        padding-top: 56.25%;
        width: 100%;
        height: 100%;
        .react-video-player {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            &:focus {
                outline: none;
            }
        }
    }
}

// 