body {
  font-family: 'Rubik', sans-serif;
  background: #eef2f6;
  overflow-x: hidden;
}

body h1, body h2, body h4, body h5, body h6, body p {
  font-family: 'Rubik', sans-serif;
  color: #7B8FA5;
}

body img {
  max-width: 100%;
}

body p {
  color: #90a1b5;
}

.gray {
  color: #7f909d !important;
}

.form-control {
  border-radius: 0;
  border-color: #e4e4e4;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #37A0F6;
}

.box {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-info {
  background: linear-gradient(265.86deg, #37A0F6 -3.37%, #387EE9 99.26%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #eaf2f9;
  font-size: 13px;
  font-weight: 500;
  border-color: #37A0F6;
  padding-right: 25px;
  padding-left: 25px;
}

.btn-info:hover {
  background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
  border-color: #37A0F6;
}

.btn-info:focus {
  border-color: #37A0F6;
}

.input-group-text {
  color: #bfc7ce;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 0;
}

form label {
  font-size: 14px;
  color: #41596c;
  font-weight: 600;
  text-transform: capitalize;
}

.titleArea {
  margin-top: 30px;
  margin-bottom: 25px;
}

.titleArea .title {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 16px;
  color: #364658;
}

.titleArea p {
  font-size: 12px;
  color: #90a1b5;
}

.titleArea.text-light .title {
  font-weight: 300;
  color: #364658 !important;
}

.subTitle {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 26px;
}

.productDetailstitle {
  font-size: 22px;
  font-weight: 900;
  color: #264258;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.breadcrumb i {
  color: #bfc7ce;
  font-size: 12px;
}

.breadcrumb li {
  font-size: 13px;
}

.breadcrumb a {
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.pagination {
  margin: 25px 0;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: .2rem .4rem;
  margin-left: -1px;
  line-height: normal;
  color: #007bff;
  background-color: #fff;
  border: 1px solid white;
  font-size: 12px;
  margin: 0 8px;
}

.card {
  border-radius: 0 !important;
  border: 1px solid #e5e9eb;
  margin-bottom: 35px;
}

.card .card-header,
.card .card-footer {
  padding: .4rem 1.25rem;
  background-color: #efefef;
  border-color: #e5e9eb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 !important;
  color: #364658 !important;
}

.card .card-body h4 {
  color: #364658;
  font-size: 16px;
  font-weight: 400;
}

.card .card-body p {
  font-size: 13px;
  color: #364658;
}

.card .card-body ul {
  padding: 0;
}

.card .card-body ul li {
  list-style: none;
  font-size: 13px;
  color: #7f909d;
  margin: 8px 0;
  position: relative;
  /* background: */
  background-size: 7px 12px;
  padding-left: 14px;
}

.card .card-body label {
  font-size: 14px;
  color: #41596c;
  font-weight: 500;
}

.form-control.code {
  width: 80px;
}

header {
  border-bottom: 1px solid #37A0F6;
  height: 70px;
}

header form {
  background: #ffffff;
  border: 0;
}

header form input.form-control {
  height: 70px;
  position: relative;
  border: 0;
}

header form input.form-control:focus {
  outline: none;
  border: 0;
}

header form input.form-control:after {
  content: "\f017";
  position: absolute;
  font-family: FontAwesome;
  text-align: left;
  font-size: 16px;
  color: #000;
  top: 10px;
  right: 30px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: bold;
  background: red;
  height: 50px;
  width: 50px;
  z-index: 100000;
}

header form .input-group-prepend {
  background: #ffffff;
  padding: 0 20px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 70px;
}

header form .input-group-prepend.search_icon {
  border: 0;
}

header form .input-group-prepend .dropdown-toggle-split {
  padding: 0;
}

header form .input-group-prepend .dropdown-menu {
  min-width: auto;
}

header form .input-group-prepend .dropdown-item {
  padding: 0;
  font-size: 12px;
  min-width: auto;
  line-height: normal;
  padding: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 100px;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.sidebar .logo {
  display: block;
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #dee5ed;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-align: center;
  font-size: 12px;
  background: white;
  display: block;
  padding: 20px 0;
  border-left: 4px solid transparent;
}

.sidebar ul li a span {
  margin-top: 5px;
  display: block;
  color: #b5c0cc;
}

.sidebar ul li a svg {
  color: #b5c0cc;
  font-size: 22px;
}

.sidebar ul li a svg:hover {
  fill: #DA4567 !important;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
  background: #ebf2fc;
  border-left: 4px solid #37A0F6;
  text-decoration: none;
}

.sidebar ul li a:hover svg, .sidebar ul li a.active svg {
  color: #37A0F6;
}

.sidebar ul li a:hover span, .sidebar ul li a.active span {
  color: #697787;
  font-weight: 500;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 100px);
  height: 100%;
  max-height: 100%;
  min-height: 500px;
}

.main-panel .content-panel-row {
  margin: 0;
}

.todays_task_wrap {
  width: 300px;
  background: #e4e9f0;
  padding: 0 30px;
  height: 100vh;
}

.input-group-prepend {
  display: inline-block;
}

.input-group-prepend > span {
  padding: 0 5px;
  cursor: pointer;
  color: #A5BAD0;
}

.input-group-prepend .dropdown-item {
  padding: .25rem 0.8rem;
  font-size: 12px;
  min-width: 6.5rem;
}

.input-group-prepend .dropdown-menu {
  min-width: 6.5rem;
}

.taskbox {
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.activeRoute .taskbox, .taskbox:hover {
  border-right: 4px solid #007bff;
  cursor: pointer;
}

.taskbox .done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffffb5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  left: 0;
  z-index: 1000;
}

.taskbox .done .text {
  font-size: 35px;
  font-weight: bolder;
  background: -webkit-gradient(linear, right top, left top, color-stop(-48.28%, #FFFF7E), color-stop(135.34%, #00A8C5));
  background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.taskbox .done:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: url(../images/Confetti.png) no-repeat left;
  background-size: contain;
}

.taskbox .done:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: url(../images/Confetti.png) no-repeat right top;
  background-size: contain;
}

.taskbox .header h4 {
  font-weight: 500;
  font-size: 12px;
  color: #364658;
  margin-bottom: 0;
}

.taskbox .header p {
  font-size: 11px;
  color: #7B8FA5;
  margin-bottom: 0;
}

.taskbox .header .status {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-48.28%, #FFFF7E), color-stop(135.34%, #00A8C5));
  background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
  margin: 0 3px;
}

.taskbox .content {
  font-size: 11px;
  color: #7B8FA5;
  word-wrap: normal;
  margin-top: 30px;
}

.segmen_tab_area .list-group {
  margin: 0 -30px;
  padding: 0 30px;
  border-bottom: 1px solid #DEE5ED;
}

.segmen_tab_area .list-group .list-group-item {
  border: 0;
  background: none;
  color: #A5BAD0;
  text-decoration: none;
  position: relative;
  padding: 12px 0;
  margin: 0 15px;
  font-weight: 400;
  font-size: 14px;
}

.segmen_tab_area .list-group .list-group-item.active {
  color: black;
  font-weight: 500;
  margin: 0 15px;
}

.segmen_tab_area .list-group .list-group-item.active:after {
  content: "";
  left: 15px;
  right: 15px;
  height: 5px;
  background: linear-gradient(63.26deg, #37A0F6 15%, #387EE9 88.17%);
  z-index: 10;
  position: absolute;
  bottom: 0;
  border-radius: 15px;
}

.segmen_tab_area .tab-content .innerTabPanel {
  padding: 15px 0;
}

.segmen_tab_area .tab-content .innerTabPanel .btn-gray {
  background: #DEE5ED;
  color: #37A0F6;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.segmen_tab_area .tab-content .innerTabPanel .btn-gray:hover {
  background: #37A0F6;
  color: #ffffff;
}

.segmen_tab_area .table_list_title {
  font-size: 12px;
  color: #7B8FA5;
  font-weight: 500;
  margin-bottom: 10px;
}

.seg_list {
  background: #ffffff;
  margin: 10px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 50px #d1dfec;
  -o-box-shadow: 0px 4px 50px #d1dfec;
  box-shadow: 0px 4px 50px #d1dfec;
}

.seg_list .seg_list_header {
  padding: 10px 15px;
}

.seg_list .seg_list_header .seg_title {
  font-size: 12px;
  color: #364658;
  font-weight: 500;
  cursor: pointer;
}

.seg_list .seg_list_header .seg_title small {
  display: inline-block;
  margin-right: 5px;
}

.seg_list .seg_list_header .seg_title small i {
  display: inline-block;
  margin-right: 10px;
}

.seg_list .seg_list_header .seg_title small img {
  margin-top: -3px;
}

.seg_list .seg_list_header .seg_title:hover {
  text-decoration: underline;
}

.seg_list .seg_list_header .right_side .btn-outline-info {
  font-size: 12px;
  padding: 5px 25px;
  border-color: #A5BAD0;
}

.seg_list .seg_list_header .right_side .btn-outline-info:hover {
  background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
  border-color: #37A0F6;
}

.seg_list .seg_list_header .right_side .btn-outline-info:focus {
  border-color: #37A0F6;
}

.seg_list .seg_list_body {
  border-top: 1px solid #DEE5ED;
  margin: 0 30px;
  padding: 25px 0;
}

.seg_table thead {
  font-size: 11px;
  font-weight: 500;
  color: #A5BAD0;
}

.seg_table thead th {
  border: 0;
}

.seg_table tbody tr {
  background: #eef2f6;
  margin-bottom: 10px;
  border-bottom: 10px solid #ffffff;
  border-radius: 5px;
  color: #7B8FA5;
  font-size: 12px;
  font-weight: 500;
}

.seg_table tbody tr td {
  vertical-align: middle;
  border: 0;
  vertical-align: middle;
}

.seg_table tbody tr td img {
  margin-right: 5px;
  margin-bottom: 3px;
}

.seg_table tbody tr td:first-child {
  max-width: 25em;
}

.seg_table tbody tr td:last-child {
  text-align: right;
}
a:hover {
  text-decoration: none;
}


.custom-button > input[type='radio'] {
  position: fixed;
  width: 0;
  opacity: 0;
}

.custom-button >label {
  display: block;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #364658;
  font-size: 15px;
  line-height: 13px;
  margin: 5px;
  transition: all linear 0.09s;
}

.custom-button input:checked + label {
  border: 2px solid #387FE9;
}


.question-container {
  position: relative;
}

.question-container.not-active::before {
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  /* border: 2px solid transparent; */
  border-radius: 5;
  border-radius: 5px;
}
/*# sourceMappingURL=style.css.map */