body {
  font-family: 'Rubik', sans-serif;
  background: #eef2f6;
  overflow-x: hidden;
}

body h1, body h2, body h4, body h5, body h6, body p {
  font-family: 'Rubik', sans-serif;
  color: #7B8FA5;
}

body img {
  max-width: 100%;
}

body p {
  color: #90a1b5;
}

a:hover {
  text-decoration: none;
}

.gray {
  color: #A5BAD0;
}

.form-control {
  border-radius: 0;
  border-color: #e4e4e4;
}

.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #37A0F6;
}

.box {
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.btn-info {
  background: linear-gradient(265.86deg, #37A0F6 -3.37%, #387EE9 99.26%);
  -webkit-box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #eaf2f9;
  font-size: 13px;
  font-weight: 500;
  border-color: #37A0F6;
  padding-right: 25px;
  padding-left: 25px;
}

.btn-info:hover {
  background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
  border-color: #37A0F6;
}

.btn-info:focus {
  border-color: #37A0F6;
}

.input-group-text {
  color: #bfc7ce;
  background-color: #ffffff;
  border: 1px solid #e4e4e4;
  border-radius: 0;
}

form label {
  font-size: 14px;
  color: #41596c;
  font-weight: 600;
  text-transform: capitalize;
}

.titleArea {
  margin-top: 30px;
  margin-bottom: 25px;
}

.titleArea p {
  font-size: 12px;
  color: #90a1b5;
}

.titleArea.text-light .title {
  font-weight: 300;
  color: #364658 !important;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #364658;
}

.overview {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #A5BAD0;
}

.overview:hover {
  color: #364658;
}

.subTitle {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 26px;
}

.productDetailstitle {
  font-size: 22px;
  font-weight: 900;
  color: #264258;
  margin-bottom: 20px;
}

.breadcrumb {
  background: none;
  padding-left: 0;
  padding-right: 0;
}

.breadcrumb i {
  color: #bfc7ce;
  font-size: 12px;
}

.breadcrumb li {
  font-size: 13px;
}

.breadcrumb a {
  display: inline-block;
  padding-right: 10px;
  font-weight: 500;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.pagination {
  margin: 25px 0;
}

.pagination .page-link {
  position: relative;
  display: block;
  padding: .2rem .4rem;
  margin-left: -1px;
  line-height: normal;
  color: #007bff;
  background-color: #fff;
  border: 1px solid white;
  font-size: 12px;
  margin: 0 8px;
}

.card {
  border-radius: 0 !important;
  border: 1px solid #e5e9eb;
  margin-bottom: 35px;
}

.card .card-header,
.card .card-footer {
  padding: .4rem 1.25rem;
  background-color: #efefef;
  border-color: #e5e9eb;
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 !important;
  color: #364658 !important;
}

.card .card-body h4 {
  color: #364658;
  font-size: 16px;
  font-weight: 400;
}

.card .card-body p {
  font-size: 13px;
  color: #364658;
}

.card .card-body ul {
  padding: 0;
}

.card .card-body ul li {
  list-style: none;
  font-size: 13px;
  color: #7f909d;
  margin: 8px 0;
  position: relative;
  background-size: 7px 12px;
  padding-left: 14px;
}

.card .card-body label {
  font-size: 14px;
  color: #41596c;
  font-weight: 500;
}

.form-control.code {
  width: 80px;
}

header {
  border-bottom: 1px solid #37A0F6;
  height: 70px;
}

header form {
  background: #ffffff;
  border: 0;
}

header form input.form-control {
  height: 70px;
  position: relative;
  border: 0;
}

header form input.form-control:focus {
  outline: none;
  border: 0;
}

header form input.form-control:after {
  content: "\f017";
  position: absolute;
  font-family: FontAwesome;
  text-align: left;
  font-size: 16px;
  color: #000;
  top: 10px;
  right: 30px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-weight: bold;
  background: red;
  height: 50px;
  width: 50px;
  z-index: 100000;
}

header form .input-group-prepend {
  background: #ffffff;
  padding: 0 20px;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 70px;
}

header form .input-group-prepend.search_icon {
  border: 0;
}

header form .input-group-prepend .dropdown-toggle-split {
  padding: 0;
}

header form .input-group-prepend .dropdown-menu {
  min-width: auto;
}

header form .input-group-prepend .dropdown-item {
  padding: 0;
  font-size: 12px;
  min-width: auto;
  line-height: normal;
  padding: 5px;
}

.sidebar {
  position: fixed;
  top: 0;
  height: 100%;
  bottom: 0;
  width: 100px;
  left: 0;
  z-index: 1030;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

.sidebar .logo {
  display: block;
  text-align: center;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #dee5ed;
}

.sidebar ul {
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  text-align: center;
  font-size: 12px;
  background: white;
  display: block;
  padding: 20px 0;
  border-left: 4px solid transparent;
}

.sidebar ul li a span {
  margin-top: 5px;
  display: block;
  color: #b5c0cc;
}

.sidebar ul li a i {
  color: #b5c0cc;
  font-size: 22px;
}

.sidebar ul li a i:hover {
  fill: #DA4567 !important;
}

.sidebar ul li a:hover, .sidebar ul li a.active {
  background: #ebf2fc;
  border-left: 4px solid #37A0F6;
  text-decoration: none;
}

.sidebar ul li a:hover i, .sidebar ul li a.active i {
  color: #37A0F6;
}

.sidebar ul li a:hover span, .sidebar ul li a.active span {
  color: #697787;
  font-weight: 500;
}

.main-panel {
  position: relative;
  float: right;
  width: calc(100% - 100px);
  height: 100%;
  max-height: 100%;
  min-height: 500px;
}

.main-panel .content-panel-row {
  margin: 0;
}

.todays_task_wrap {
  width: 360px;
  background: #e4e9f0;
  padding: 0 30px;
  height: 100vh;
}

.input-group-prepend {
  display: inline-block;
}

.input-group-prepend > span {
  padding: 0 5px;
  cursor: pointer;
  color: #A5BAD0;
}

.input-group-prepend .dropdown-item {
  padding: .25rem 0.8rem;
  font-size: 12px;
  min-width: 6.5rem;
}

.input-group-prepend .dropdown-menu {
  min-width: 6.5rem;
}

.taskbox {
  background: #ffffff;
  padding: 15px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.taskbox .done {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffffffb5;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  text-align: center;
  left: 0;
  z-index: 1000;
}

.taskbox .done .text {
  font-size: 35px;
  font-weight: bolder;
  background: -webkit-gradient(linear, right top, left top, color-stop(-48.28%, #FFFF7E), color-stop(135.34%, #00A8C5));
  background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
}

.taskbox .done:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: url(../images/Confetti.png) no-repeat left;
  background-size: contain;
}

.taskbox .done:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 3;
  background: url(../images/Confetti.png) no-repeat right top;
  background-size: contain;
}

.taskbox .header h4 {
  font-weight: 500;
  font-size: 13px;
  color: #364658;
  margin-bottom: 0;
}

.taskbox .header p {
  font-size: 12px;
  color: #7B8FA5;
  margin-bottom: 0;
}

.taskbox .header .status {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-48.28%, #FFFF7E), color-stop(135.34%, #00A8C5));
  background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
  margin: 0 3px;
}

.taskbox .content {
  font-size: 12px;
  color: #7B8FA5;
  word-wrap: normal;
  margin-top: 30px;
}

.activeRoute .taskbox, .taskbox:hover {
  border-right: 4px solid #007bff;
  cursor: pointer;
}

.test-history-progress {
  background: #ffffff;
  padding: 5px 20px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.test-history-progress .header {
  padding-top: 10px;
}

.test-history-progress .header .title {
  font-weight: 500;
  font-size: 14px;
  color: #364658;
  margin-bottom: 0;
}

.test-history-progress p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
  color: #7B8FA5;
}

.test-history-progress .content {
  margin-top: 25px;
  margin-bottom: 20px;
}

.test-history-progress .content .progress_wrap {
  background: #DEE5ED;
  height: 4px;
  position: relative;
}

.test-history-progress .content .progress_wrap .progress-active {
  background: #387EE9;
  height: 4px;
  top: 0;
  position: absolute;
}

.test-history-progress .content .progress_wrap .mark_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 10;
}

.test-history-progress .content .progress_wrap .mark_row .mark {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #DEE5ED;
  margin-top: -3px;
}

.test-history-progress .content .progress_wrap .mark_row .mark.active {
  background-size: cover;
  background: url(../images/check.svg) no-repeat center center;
}

.test-history-progress .footer {
  padding: 5px 0;
  font-size: 12px;
  color: #7B8FA5;
}

.test-history-progress .footer strong {
  color: #364658;
}

.segmen_tab_area .list-group {
  margin: 0 -30px;
  padding: 0 30px;
  border-bottom: 1px solid #DEE5ED;
}

.segmen_tab_area .list-group .list-group-item {
  border: 0;
  background: none;
  color: #A5BAD0;
  text-decoration: none;
  position: relative;
  padding: 12px 0;
  margin: 0 15px;
  font-weight: 400;
  font-size: 14px;
}

.segmen_tab_area .list-group .list-group-item.active {
  color: black;
  font-weight: 500;
  margin: 0 15px;
}

.segmen_tab_area .list-group .list-group-item.active:after {
  content: "";
  left: 15px;
  right: 15px;
  height: 5px;
  background: linear-gradient(63.26deg, #37A0F6 15%, #387EE9 88.17%);
  z-index: 10;
  position: absolute;
  bottom: 0;
  border-radius: 15px;
}

.segmen_tab_area .tab-content .innerTabPanel {
  padding: 15px 0;
}

.segmen_tab_area .tab-content .innerTabPanel .btn-gray {
  background: #DEE5ED;
  color: #37A0F6;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 0;
}

.segmen_tab_area .tab-content .innerTabPanel .btn-gray:hover {
  background: #37A0F6;
  color: #ffffff;
}

.segmen_tab_area .table_list_title {
  font-size: 12px;
  color: #7B8FA5;
  font-weight: 500;
  margin-bottom: 10px;
}

.seg_list {
  background: #ffffff;
  margin: 10px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0px 4px 50px #d1dfec;
  -o-box-shadow: 0px 4px 50px #d1dfec;
  box-shadow: 0px 4px 50px #d1dfec;
}

.seg_list .seg_list_header {
  padding: 10px 15px;
}

.seg_list .seg_list_header .seg_title {
  font-size: 12px;
  color: #364658;
  font-weight: 500;
  cursor: pointer;
}

.seg_list .seg_list_header .seg_title small {
  display: inline-block;
  margin-right: 5px;
}

.seg_list .seg_list_header .seg_title small i {
  display: inline-block;
  margin-right: 10px;
}

.seg_list .seg_list_header .seg_title small img {
  margin-top: -3px;
}

.seg_list .seg_list_header .seg_title:hover {
  text-decoration: underline;
}

.seg_list .seg_list_header .right_side .btn-outline-info {
  font-size: 12px;
  padding: 5px 25px;
  border-color: #A5BAD0;
}

.seg_list .seg_list_header .right_side .btn-outline-info:hover {
  background: linear-gradient(63.26deg, #387EE9 15%, #37A0F6 88.17%);
  border-color: #37A0F6;
}

.seg_list .seg_list_header .right_side .btn-outline-info:focus {
  border-color: #37A0F6;
}

.seg_list .seg_list_body {
  border-top: 1px solid #DEE5ED;
  margin: 0 30px;
  padding: 25px 0;
}

.seg_table thead {
  font-size: 11px;
  font-weight: 500;
  color: #A5BAD0;
}

.seg_table thead th {
  border: 0;
}

.seg_table tbody tr {
  background: #eef2f6;
  margin-bottom: 10px;
  border-bottom: 10px solid #ffffff;
  border-radius: 5px;
  color: #7B8FA5;
  font-size: 12px;
  font-weight: 500;
}

.seg_table tbody tr td {
  vertical-align: middle;
  border: 0;
  vertical-align: middle;
}

.seg_table tbody tr td img {
  margin-right: 5px;
  margin-bottom: 3px;
}

.seg_table tbody tr td:first-child {
  max-width: 25em;
}

.seg_table tbody tr td:last-child {
  text-align: right;
}

.custom-button > input[type='radio'] {
  position: fixed;
  width: 0;
  opacity: 0;
}

.custom-button > label {
  display: block;
  padding: 7px 15px;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  color: #364658;
  font-size: 11px;
  line-height: 12px;
  margin: 5px;
  -webkit-transition: all linear 0.09s;
  transition: all linear 0.09s;
  border: 4px solid transparent;
}

.custom-button input:checked + label {
  border: 4px solid #387FE9;
}

.question-area .question-container {
  position: relative;
}

.question-area .question-container p {
  font-size: 12px;
  color: #364658;
}

.question-area .question-container.not-active::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #f6fcff99;
  z-index: 100;
  cursor: no-drop;
  border-radius: 5px;
}

.rcs-custom-scrollbar .rcs-inner-handle {
  background-color: #697787;
  color: #000;
}

/* video player */
.player-container a {
  display: block;
  font-size: 15px;
  margin-bottom: 0;
}

.player-container a:hover {
  text-decoration: underline;
  color: #364658;
}

.player-container p {
  color: #364658;
  font-size: 11px;
  font-weight: 500;
  margin-bottom: 0;
}

.player-container h3 {
  background: -webkit-gradient(linear, left top, right top, from(#D4145A), to(#FBB03B));
  background: linear-gradient(to right, #D4145A 0%, #FBB03B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5em;
  font-weight: 600;
  margin-top: 15px;
}

.player-container h3 span {
  font-size: 11px;
  color: #364658;
  background: none;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: #364658;
}

.fail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255, 121, 112, 0.74);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fail > span.text {
  font-weight: 900;
  font-size: 2em;
  color: #782e29;
  margin: auto;
  display: block;
}

.test-history-progress {
  background: #ffffff;
  padding: 5px 20px;
  margin: 15px 0;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: relative;
}

.overViweWrap {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.08);
          box-shadow: 10px 0 15px -5px rgba(0, 0, 0, 0.08);
  padding-top: 20px;
}

.overViweWrap .rcs-custom-scroll .rcs-inner-container {
  padding-right: 25px;
}

.overview_footer_paddiing {
  padding-bottom: 170px;
  height: 100vh;
}

.overview_footer_paddiing .over_viwe_footer {
  background: #eef2f6;
  min-height: 100px;
  position: absolute;
  bottom: 0;
  left: -10px;
  padding: 15px 25px;
  right: 0;
  z-index: 1000;
  -webkit-box-shadow: 18px 0px 30px 10px rgba(0, 0, 0, 0.08);
          box-shadow: 18px 0px 30px 10px rgba(0, 0, 0, 0.08);
}

.overview_footer_paddiing .over_viwe_footer .progress {
  background: none;
  width: 65px;
  height: 65px;
  border: 6px solid #37A0F6;
  border-radius: 50%;
  position: relative;
  overflow: inherit;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview_footer_paddiing .over_viwe_footer .quote {
  text-align: center;
  min-height: 95px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.overview_footer_paddiing .over_viwe_footer .quote h3 {
  font-size: 20px;
  background: linear-gradient(253.96deg, #4F00BC -3.37%, #29ABE2 99.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.rightSidebar {
  padding: 30px 10px;
}

.rightSidebar .weeklyReport {
  padding: 25px;
}

.rightSidebar .weeklyReport i {
  color: #c7cdd4;
  font-size: 27px;
}

.rightSidebar .weeklyReport h6 {
  font-size: 12px;
  color: #A5BAD0;
  font-weight: normal;
  margin: 5px 0;
}

.rightSidebar .weeklyReport h4 {
  font-size: 22px;
  background: -webkit-gradient(linear, left top, right top, from(#FB872B), to(#D9E021));
  background: linear-gradient(90deg, #FB872B 0%, #D9E021 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 800;
  margin-bottom: 0;
  margin-top: 10px;
}

.rightSidebar .weeklyReport h4.first {
  background: -webkit-gradient(linear, right top, left top, color-stop(-48.28%, #FFFF7E), color-stop(135.34%, #00A8C5));
  background: linear-gradient(270deg, #FFFF7E -48.28%, #00A8C5 135.34%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightSidebar .weeklyReport h4.last {
  background: -webkit-gradient(linear, left top, right top, from(#D4145A), to(#FBB03B));
  background: linear-gradient(90deg, #D4145A 0%, #FBB03B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightSidebar .reward-wrap {
  margin-top: 25px;
}

.rightSidebar .reward-wrap .reward {
  background: #f6fcff;
}

.rightSidebar .reward-wrap .reward .media {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightSidebar .reward-wrap .reward .media i {
  font-size: 20px;
  color: #DEE5ED;
}

.rightSidebar .reward-wrap .reward .media .media-body {
  padding-left: 10px;
}

.rightSidebar .reward-wrap .reward .media .media-body h4 {
  margin: 0;
  font-size: 12px;
  color: #DEE5ED;
}

.rightSidebar .reward-wrap .reward .media .media-body h4 .status {
  padding-left: 10px;
  background: -webkit-gradient(linear, left top, right top, from(#D4145A), to(#FBB03B));
  background: linear-gradient(90deg, #D4145A 0%, #FBB03B 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.rightSidebar .reward-wrap .reward.active {
  background: white;
}

.rightSidebar .reward-wrap .reward.active i {
  color: #A5BAD0;
}

.rightSidebar .reward-wrap .reward.active .media-body h4 {
  color: #A5BAD0;
}

.physics {
  padding-top: 25px;
}

.physics .rcs-inner-container {
  padding-right: 45px;
  margin-right: -40px !important;
}
/*# sourceMappingURL=style.css.map */